.timer_wrapper {
    width: 600px;
    margin: 150px auto 0 auto;
}

.buttons {
    overflow: hidden;
    margin-bottom: 25px;
}

button {
    width: 250px;
    height: 60px;
}

.start {
    float: left;
}

.pause {
    float: right;
}

.timer {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 1px solid grey;
    margin: 0 auto;
}

#timer {
    margin-top: 70%;
    text-align: center;
    display: block;
    font: 24px/26px 'Roboto';
}

#minute_hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    margin-top: -80px;
    height: 180px;
    background: url("hands.png") 0 -110px no-repeat;
    -webkit-transform: rotate(0deg);
}

#seconds_hand {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    margin-left: -2px;
    margin-top: -115px;
    height: 230px;
    background: url("hands.png") 0 -75px no-repeat;
    -webkit-transform: rotate(0deg);
}